* {
    margin: 0;
    padding: 0;
}

.game_field {
    position: relative;
    background-image: url('../img/background_fishes.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.red_fish {
    position: absolute;
    height: 100px;
    width: 130px;
    background-image: url('../img/red_fish.png');
    background-repeat: no-repeat;
    background-size: contain;
}
.golden_fish {
    position: absolute;
    height: 100px;
    width: 160px;
    background-image: url('../img/golden_fish.png');
    background-repeat: no-repeat;
    background-size: contain;
}
.green_fish {
    position: absolute;
    height: 100px;
    width: 130px;
    background-image: url('../img/green_fish.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.coup {
    transform: scaleX(-1);
}
